{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      }
    }],
    "react"
  ],
  "plugins": [
    "ramda",
    "transform-class-properties",
    "transform-object-rest-spread",
    "dynamic-import-node"
  ]
}
