<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <style><%= require("./src/css/app.scss") %></style>
  <div class="app">
    <div class="appartment-list">
      <%= require("raw-loader!./src/template/appartment.html") %>
      <%= require("raw-loader!./src/template/appartment.html") %>
      <%= require("raw-loader!./src/template/appartment.html") %>
    </div>
  </div>
</body>
</html>
