<div class="appartment">
  <div class="appartment__offer-type">Mieten</div>
  <img
    class="appartment__img"
    src="https://d3e02gns9oqhhr.cloudfront.net/assets/expose_v2/574eb90e8ffd7c8a2a8b4568_variant_asset5825d8e1e9420_inventoryM.jpg"
    alt="preview"
  >
  <div class="appartment__details">
    <p class="appartment__title">Elf Wohnungen auf einmal – 5% Mietrendite! MFH in Ettlingen - Schöll</p>
    <p class="appartment__address">35764 Sinn / Fleisbach</p>
    <div class="appartment__space"></div>
    <div class="appartment__bottom-info">
      <span class="appartment__price">$1337</span>
      <div class="appartment__space"></div>
      <span class="appartment__rooms">3 Zimmer</span>
      <div class=appartment__vertical-divider></div>
      <span class="appartment__area">ab 35m²</span>
    </div>
  </div>
</div>
